// sass //
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
$color1: #e88169;
$color2: #e3b0a5;

// body //
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

// header //
.container {
  height: 5rem;
  width: 100%;
  background-color: $color1;
  @include flexCenter();
}
.logo {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2rem;
  margin-right: 6em;
}
.navbar li {
  list-style: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 2em;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
.navbar a {
  color: black;
}

// layout //
.background {
  @include flexCenter();
}
.background img {
  width: 100vw;
  height: 80vh;
  opacity: 0.7;
}
.h {
  position: absolute;
  top: 2.5em;
  font-size: 5rem;
  text-shadow: 5px 5px 6px #050505;
  color: #fff;
}
.icon {
  @include flexCenter();
  margin: 1.2em 0;
}
.icon1 > .fas {
  background-color: $color1;
  padding: 0.1em 0.3em;
  border: 1px solid $color1;
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    background-color: $color2;
    border-color: $color2;
    transform: scale(1.1);
  }
}

// about //
.h2 {
  margin: 2em 0;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
.h2 a:hover {
  color: rgb(158, 10, 10);
}
.section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(auto, 400px);
  background-color: $color2;
  padding: 8em 4em;
  grid-gap: 8em 1em;
  text-align: center;
}
.section1 img {
  width: 30vw;
  height: 32vh;
}
.section2 {
  @include flexCenter();
}
.section3 {
  @include flexCenter();
}
.section4 img {
  width: 30vw;
  height: 35vh;
}

// footer //
.footer {
  background-color: black;
  @include flexCenter();
  flex-direction: column;
  height: 5em;
  color: #fff;
  padding: 2em;
}

// media //
@media only screen and (max-width: 900px) {
  .container {
    @include flexCenter();
    flex-direction: column;
    height: 10em;
    padding: 0.2em;
  }
  .logo {
    margin: 0.3em 0;
  }
  .navbar li {
    display: block;
    margin: 0.2em 0;
  }
  .background {
    @include flexCenter();
  }
  .background img {
    width: 100vw;
    height: 70vh;
  }
  .icon1 > .fas {
    margin: 1em 0;
  }
  .h {
    font-size: 3rem;
    position: absolute;
    top: 6em;
  }
  .section {
    @include flexCenter();
    flex-direction: column;
  }
  .section1 img,
  .section4 img {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .background {
    @include flexCenter();
  }
  .background img {
    width: 100vw;
    height: 60vh;
  }
  .h {
    font-size: 2rem;
    position: absolute;
    top: 10em;
  }
  .h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .background img {
    height: 40vh;
    width: 100vw;
  }
  .h {
    position: absolute;
    top: 7em;
  }
}
