body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -15px;
  height: 100vh;
  object-fit: cover;
}

.logo {
  width: 175px;
  height: 72.9px;
  fill: #fff;
  position: absolute;
  top: 60px;
  left: 120px;
}

select {
  font-size: 0.7rem;
  font-weight: 100;
  padding-left: 5px;
}
.section2 {
  position: absolute;
  top: 483.5px;
  left: 72.5px;
}
select#place,
select#lang {
  border: 0px;
  outline: 0px;
  width: 240px;
  height: 34px;
}

#lang {
  margin: 0 12px;
}

#go {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  width: 50px;
  height: 34px;
  padding: 6px 12px;
  font-size: 1.05rem;
  font-weight: 450;
  font-stretch: condensed;
}

#go:hover {
  background-color: #333;
}

/* Responsive design */
@media screen and (max-width: 1073px) {
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .section2 {
    position: absolute;
    top: 430px;
    left: 72.9px;
  }
}

@media screen and (max-width: 730px) {
  .logo {
    display: none;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 5vw;
  }

  select#place,
  select#lang {
    width: 90vw;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  #go {
    width: 90vw;
    height: 34px;
    text-align: center;
  }
}
