body {
    background: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    position: relative;
    background: linear-gradient(#00BFFF, #1E90FF,  #4169E1);
    width: 202px;
    height: 202px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
  }
  .stick {
    background: #fff;
  }
  .stick1 {
    width: 90px;
    height: 15px;
    border-radius: 8px 12px 4px 8px;
    position: absolute;
    top: 120px;
    left: 27px;
  }
  .stick2 {
    width: 40px;
    height: 15px;
    border-radius: 0 8px 8px 0px;
    position: absolute;
    top: 120px;
    right: 27px;
  }
  
  .stick3 {
    width: 90px;
    height: 15px;
    border-radius: 0 8px 8px 15px;
    transform: rotate(58deg);
    position: absolute;
    top: 110px;
    right: 31px;
  }
  .stick4 {
    width: 100px;
    height: 15px;
    border-radius: 0 8px 8px 15px;
    transform: rotate(-58deg);
    position: absolute;
    top: 84px;
    left: 35px;
  }
  .stick5 {
    width: 25px;
    height: 15px;
    border-radius: 8px 0 0 8px;
    transform: rotate(58deg);
    position: absolute;
    top: 52px;
    left: 80px;
  }
  .stick6 {
    width: 23px;
    height: 15px;
    border-radius: 8px 12px 8px 8px; 
    transform: rotate(-58deg);
    position: absolute;
    top: 139px;
    left: 40px;
  }