* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fffafa;
}

section {
  border: 1px solid #fff;
  background-color: #fffafa;
}

footer {
  background-color: #000;
  color: #fffafa;
  text-align: center;
  padding: 50px;
}

.hero {
  height: 100vh;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  height: 200px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  margin: 20px 0;
}

p {
  font-size: 30px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #fffafa;
}

ul {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  padding: 4px 8px;
}
.nav-links {
  margin-top: 15px;
  float: right;
}
li {
  list-style: none;
  border: none;
  border-radius: 3px;
}

li:hover {
  border: none;
  background-color: rgb(180, 64, 22);
}
li > a {
  font-size: 1.7rem;
  padding: 3px 5px;
}

a {
  outline: none;
}

button {
  outline: none;
}
li > a:hover {
  color: #fffafa;
}

li:nth-child(1) {
  background-color: coral;
  border: none;
}

li:nth-child(1):hover {
  background-color: rgb(180, 64, 22);
}

.logo {
  height: 160px;
  margin-left: 20px;
  float: left;
}

.top-hr {
  width: 70vw;
  margin-right: 40px;
  position: absolute;
  top: 140px;
  right: 0;
  border: 1px solid #fffafa;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hero-text {
  margin: 5% 0 0 5%;
  margin-right: 40px;
}

.dot {
  font-size: 60px;
  color: coral;
}

.about-button {
  width: 200px;
  height: 60px;
  padding: 4px 8px;
  background-color: coral;
  font-size: 30px;
  border: none;
  color: #fffafa;
  margin-top: 10px;
  border-radius: 40px;
}

.about-button:hover {
  color: #fff;
  background-color: rgb(180, 64, 22);
}

.socials {
  margin-right: 10px;
  position: absolute;
  top: 50%;
  right: 0;
}

.social {
  margin-top: 10px;
  fill: #fff;
  width: 50px;
  height: 50px;
}

.tw:hover {
  fill: #1da1f2;
}

.gh:hover {
  fill: gray;
}

.ln:hover {
  fill: #2867b2;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  color: #1c1d25;
}

.about {
  display: flex;
  justify-content: space-evenly;
}

.information {
  margin-right: 20px;
}

.headshot-container {
  margin-left: 20px;
}

.headshot {
  width: 300px;
  border-radius: 50%;
}

.sub-section-2 {
  display: flex;
  flex-direction: column;
  background-color: #fffafa;
  color: #1c1d25;
  padding: 50px;
  text-align: center;
}

.project-container {
  margin: 80px 0 20px 0;
  display: flex;
  justify-content: space-around;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(170, 168, 168);
  padding: 10px;
}

.img-card {
  width: 220px;
  border-radius: 50%;
  margin-top: 25px;
}

.sub-text {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 10px 0;
}

.bottom-hr {
  width: 80%;
  margin-left: 25px;
}

.card-link {
  color: #1c1d25;
  padding-top: 20px;
  color: coral;
}

.card-link:hover {
  color: rgb(180, 64, 22);
}

.email {
  margin-top: 50px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1331px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.3rem;
  }

  .logo {
    display: none;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .about-button {
    font-size: 16px;
    width: 80px;
    height: 30px;
    padding: 2px 4px;
  }

  .dot {
    font-size: 35px;
  }

  .social {
    width: 30px;
    height: 30px;
  }
  ul {
    display: none;
  }

  nav {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
  }

  .top-hr {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
  }

  ul.show {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }

  li > a {
    font-size: 25px;
  }

  li:nth-child(1) {
    background-color: transparent;
  }

  .hero-text {
    margin-top: 20vh;
  }

  .headshot-container {
    margin-left: 0;
  }
  .headshot {
    width: 150px;
    height: 150px;
  }

  .project-card {
    width: 250px;
    height: 500px;
  }

  .img-card {
    width: 150px;
    height: 150px;
  }

  .email {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 475px) {
  li > a {
    font-size: 18px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  ul.show {
    gap: 5px;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
